.search_form {
  width: 100%;
}

.search_form_row {
  width: 100%;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.search_form_row > span {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  float: left;
}

.search_form_row input[type='text'] {
  display: inline-block;
  width: 75%;
}

.search_form_row input[type='number'] {
  border: 1px solid #bbb;
  height: 21px;
}

.search_form_row .search_checkboxes {
    display: inline-block;
    width: 60%;
}

.search_form_row ul {
  width: 100%;
  padding: 0;
}

.search_form_row .search_checkboxes li {
    display: inline-block;
    width: 45%;
}

@media screen and (max-width: 767px) {
  .search_form_row > span {
    display: block;
    width: 100%;
  }

  .search_form_row .search_checkboxes,
  .search_form_row .search_checkboxes li {
      width: 100%;
  }
}

/* Search results */

.page-header {
  margin: 20px auto 0;
  width: 80%;
  max-width: 1080px;
}

.search-result-item {
  margin-bottom: 10px;
}

.entry-title {
  font-weight: bold;
}

.entry-year {
  display: inline-block;
  width: 6%;
  vertical-align: top;
  float: left;
}

.entry-details {
  display: inline-block;
  width: 94%;
  padding-left: 10px;
}

.entry-content .search-result-item {
  width: 100%;
  margin-bottom: 10px;
}

.entry-content .search-result-item .entry-year {
  display: inline-block;
  width: 8.3333%;
  vertical-align: top;
}

.entry-content .search-result-item .entry-details {
  display: inline-block;
  width: 80%;
}

.entry-content .search-result-item .entry-title {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .entry-year {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .visible-xs {
    display: none!important;
  }
}
